.header {
  background-color: #fff !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  height: var(--defaultHeight);
  line-height: var(--defaultHeight);
  .left {
    align-items: center;
  }
  .toggle {
    margin-right: 10px;
    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }
  .trigger {
    padding: 0px 15px;
    font-size: 16px;
    line-height: var(--defaultHeight);
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }
  .color{
    &:hover{
      .color_picker{
        display: block;
      }
    }
  }
  .color_picker {
    position: absolute;
    top: 50px;
    right: 65px;
    z-index: 2;
    line-height: 1;
    display: none;
  }
}
